body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #28f4f1;
    color: #250;
    margin: 0;
}

header {
    background: #3157f0;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #e94343;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background: #004d40;
    color: rgb(206, 70, 70);
    padding: 10px 0;
    margin-top: 20px;
}